.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px;
  }
  
@media (max-width:600px) {
  .contador {
    height: 90px;
    font-size: 40px;
    border-radius: 5px;
    padding: 5px;
  }
}
  