header {
  display: flex;
  background:   #004840;
  width: 100%;
  height: 100px;
  align-items: center;
  z-index: 100;
} 

#logo {
  width: 250px;
  height: 60px;
  margin-left: 30px;
} 

/* MENU NORMAL */
.menu {
  list-style: none;
  padding: 20px;
  margin: 0 0 0 auto;
  text-decoration: none;
  z-index: 999;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
  color: #28a464;
  font-weight: 600;
}

.menu li a {
  text-decoration: none;
  color: #28a464;
}

.menu li:first-child {
  margin-left: 0;
}
/* MENU SANDUICHE ATIVA NO MAX 600PX */
.hamburger-menu {
  display: none;
  margin-left: auto;
  padding: 50px;
  color: #5F5F5F;
}

@media (max-width: 600px) {
  #logo {
    width: 150px;
    height: 35px;
    margin-top: 10px;
    margin-left: 15px;
  } 

  .menu {
    display: none;
    padding: 10px;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    padding: 20px;
  }

  .hamburger-menu span {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 4px;
    background-color: #28a464;
    margin-top: 6px;
  }
  .hamburger-menu span:last-child {
    margin-bottom: 0;
  }

  .menu.show {
    display: block !important;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #E0E7E9;
    padding: 20px 20px 10px 10px;
    border-radius: 0 0 0 5px;
    list-style: none;
    margin: 0;
    text-align: right;
  }

  .menu.show li {
    display: block;
    margin-bottom: 10px;
  }

  .menu.show li a {
    color: #28a464;
    text-decoration: none;
    font-size: 13px;
  }
}

@media (min-width: 600px) {
  #logo {
    width: 180px;
    height: 40px;
    margin-left: 30px;
    margin-top: 5px;
  } 
}
@media (min-width: 768px) {
  #logo {
    width: 210px;
    height: 50px;
    margin-left: 50px;
  } 
}
@media (min-width: 1000px) {
  #logo {
    width: 250px;
    height: 55px;
    margin-left: 120px;
  } 
  .menu {
    margin-right: 80px;
  }
}
