.tudo{
    margin:0;
    padding: 0;
    background-color: white;
}


.inicial{
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 50px auto 70px auto;
    background-color: transparent;

}

.inicial h1{
    font-weight: 600;
    position: absolute;
    top: 0;
    color: #004840;
    font-size: 25px;
}
